<form action="/project/create" method="post">

<input type="text" name="projectname" placeholder="Enter Your Project Name" id="projectName">
<input type="text" name="description" placeholder="Enter Your Project Description" id="projectDescription">
<input type="text" name="author" placeholder="Enter Project's Authors Name" id="author">
<input type="submit" value="enter the project details">
</form>