<button method=   type="button" class="btn btn-outline-success"> <a href="/issue/create_issue"> Create Issue</a> </button>


<div id="container">


    <table class="table table-success table-striped">
        <thead>
            <tr>

                <th scope="col">Name of Projects</th>
                <th scope="col">Desciption</th>
                <th scope="col">Author</th>
                <th scope="col">Bugs</th>
            </tr>
        </thead>
        <tbody>
            <% for(list of all_issue){%>
                <tr>
                    <td>
                        <%= list.projectName %>
                    </td>
                    <td>
                        <%= list.Desc %>
                    </td>
                    <td>
                        <%= list.author %>
                    </td>
                    <% for(l of label){%>
                        <%= l.label %>
                            <% }%>
                </tr>
                <% } %>
        </tbody>

    </table>


<form action="/create/filter" method="post">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Bug</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Duplicate</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">invalid</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Question</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Help Wanted</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">UI not good</label>
    </div>
<br>
<br>
    <div class="btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Dropright
        </button>
        <ul class="dropdown-menu">
          <!-- Dropdown menu links -->
        </ul>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Project Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search By Name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Project Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" >Search</button>     
      </div>


</form>
  



<br>
<br>

    



</div>